<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="pageObjects.Listeners"/>
</listeners>
  <test name="BrokenLinks">
    <classes>
      <class name="pageObjects.BrokenLinks"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
